:root {
    --acent-color: #45517D;
    --main-color:  #61B2EC;
    --add-color: #8EC9F2;
    --double-color:  #45517D;
}
 
.myheader {
    width: 100%;
    height: 60px;
    background-color: var(--acent-color);
    
}
.header-title {
    color: white;
    display: flex;
    justify-content: flex-end;
}
.main {
    width: 100%;
     position: relative; 
    right: 40px;
}
.main-list {
    display: flex;
}
.main-item:nth-child(1) {
    width: 40%;
    height: 500px;
 background-color: var(--main-color);

}
.main-item:nth-child(2) {
    width: 60%;
    height: 500px;
    background-color: var(--add-color);
}
.myfooter {
    width: 100%;
     height: 60px; 
     display: flex; 
    background-color: var(--double-color);
    
    
}
.kwerendy {
    color: orange;
    margin-left: 130px;
      margin-top: 20px;  
}
.autor {
    color: white;
    margin-left: 600px;
}
.auto {
    width: 100px;
    height: 50px;
    margin-left: 30%;
}
